@import 'partials.scss';

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 300px;
        text-align: left;
        input {
            margin: 10px 0px;
        }
        button {
            margin-top: 10px;
        }
    }
}

