@import 'partials.scss';

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    form {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 400px;
        text-align: left;
    }
}

