@import 'styles.scss';
@import 'slideshow.scss';
// https://images.pexels.com/photos/220118/pexels-photo-220118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940

@media screen and (min-width: 900px) {
    .landing {
        background: linear-gradient(0deg, rgba(26, 5, 32, 0.0) 0%, rgba(26, 5, 32, 0.0)), url("images/sunset-7.png");
        background-size: 100vw;
        .heading-container {
            width: 60%;
            h1 {
                font-size: 48pt;
            }
        }
    }
    
}

.landing {
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 5, 32, 1.0);
    background-size: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .landing-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .heading-container {
            width: 90%;
            padding: 20px;
            margin-top: 50px;
        }
        h1 {
            color: white;
            display: block;
            text-align: center;
            font-size: 40pt;
            margin-bottom: 20px;
        }
        a {
            display: block;
            color: #00FFBF;
            padding: 5px;
            border-radius: 5px;
            border: 2px solid #00FFBF;
            text-decoration: none;
            transition: 0.5s;            
        }

        a:hover {
            background-color: #00FFBF;
            color: #00003E;
        }
   
        h3 {
           color: #E00073;
           font-size: 20pt;
           text-transform: uppercase;
           font-family: 'Roboto', sans-serif;
           font-weight: 300;
           letter-spacing: 1px;
           text-align: center;
           margin-top: 0px;
   
        }
    }
    
}

.portfolio {
    margin-top:100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(36,0,46,1) 100%);
        // background-color: white;
        padding: 100px 0px;
        width: 100%;
        h3 {
            text-transform: uppercase;
            letter-spacing: 0.3em;
            font-size: 26pt;
            margin-bottom: 0px;
            text-align: center;
        }

        img {
            border-radius: 20px;
        }

        .github {
            text-decoration: none;
            color: #E00073;
            border: 2px solid #E00073;
            border-radius: 5px;
            padding: 5px;
            font-size: 18pt;
            margin-top: 5px;
            transition: 0.5s;
        }

        .site {
            text-decoration: none;
            color: #00FFBF;
            border: 2px solid #00FFBF;
            border-radius: 5px;
            padding: 5px;
            font-size: 18pt;
            margin-top: 5px;
            transition: 0.5s;
        }

        .site:hover {
            background-color: #00FFBF;   
            color: white;  
        }

        .github:hover {
            background-color: #E00073;   
            color: white;  
        }

        .project-content {
            padding-bottom: 10px;
            p {
                margin: 0px 50px;
                line-height: 2rem;
            }
           
        }
        @media only screen and (min-width: 601px) {
            .project-content {
                // width: 600px;
                display: grid; 
                grid-template-columns: 1fr 1r;
                grid-template-rows: 1fr;
                #one {
                    grid-row: 1 / 2;
                    grid-column: 1 / 2;
                }
                p {
                    grid-row: 1 / 2;
                    grid-column: 2 / 3;
                    width: 300px;
                    padding-top: 100px;
                    font-size: 14pt;
                }
                img {
                    width: 500px;
                    // border: 2px solid black;
                    // border-radius: 20px;
                }
            }   
        }
        
    }
}

@media only screen and (max-width: 600px) {
    .project {
        .github {
            font-size: 32pt;
            border: 5px solid #E00073;  
        }
        .project-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                display: block;
                width: 300px;
                // border-radius: 20px;
            }

            p {
                display: block;
                width: 300px;
                padding-top: 20px;
                font-size: 18pt;
            }
        }
    }
            
}

