.slide-container {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    
}

.image-container {   
    position: relative;
    top: 100px;
    transition: left 1s;
   
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container {
    top: -25px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: grey;
    transition: 0.5s;
}

.slider-button:hover {
    background-color: white;
}


#slider-image-1:target ~ .image-container {
    left: 0px;
}

#rock-image-1:target ~ .image-container {
    left: 0px;
}

#robot-image-1:target ~ .image-container {
    left: 0px;
}

// WEB VIEW
 @media screen and (min-device-width: 601px) {
    .slide-container {
        width: 500px;
        height: 600px;
    }

    .image-container {
        width: 1500px;
        height: 600px;
    }

    #slider-image-2:target ~ .image-container {
        left: -500px;
    }
    
    #slider-image-3:target ~ .image-container {
        left: -1000px;
    }

    #rock-image-2:target ~ .image-container {
        left: -500px;
    }
    
    #rock-image-3:target ~ .image-container {
        left: -1000px;
    }

    #robot-image-2:target ~ .image-container {
        left: -500px;
    }
    
    #robot-image-3:target ~ .image-container {
        left: -1000px;
    }
 }

// MOBILE VIEW
@media screen and (max-device-width: 600px) {
    .slide-container {
        width: 600px;
        height: 700px;
    }

    .image-container {
        width: 1800px;
        height: 700px;
    }

    #slider-image-2:target ~ .image-container {
        left: -600px;
    }
    
    #slider-image-3:target ~ .image-container {
        left: -1200px;
    }

    #rock-image-2:target ~ .image-container {
        left: -600px;
    }
    
    #rock-image-3:target ~ .image-container {
        left: -1200px;
    }

    #robot-image-2:target ~ .image-container {
        left: -600px;
    }
    
    #robot-image-3:target ~ .image-container {
        left: -1200px;
    }
}

